[Unit]
Description=Reporting Portal Service
After=network.target

[Service]
Type=simple
User=ute
WorkingDirectory=/opt/jenkins_robotframework/reporting-portal
Environment="PATH=/opt/jenkins_robotframework/reporting-portal/venv/bin"
ExecStart=/opt/jenkins_robotframework/reporting-portal/venv/bin/uvicorn app.main:app --host 0.0.0.0 --port 8000
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target